@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* li, a {
    text-decoration: none;
    color: rgb(255, 255, 255);
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #105444;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 19px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

